# Admin panel boti
ADMIN_BOT_TOKEN=your_admin_bot_token

# Ota-onalar boti
PARENT_BOT_TOKEN=your_parent_bot_token
PARENT_BOT_USERNAME=your_parent_bot_username

SUPER_ADMIN_ID=your_telegram_user_id

# Lokal: sqlite:///davomat.db
# Railway: PostgreSQL URL avtomatik
DATABASE_URL=sqlite:///davomat.db

MAIN_TEACHER=Nodirbek
CENTER_NAME=ALI ACADEMY
